<!DOCTYPE html>
<html>
<head>


<script>
function myFunction() {
  alert("Log in as a new user");
}

function change( el )
{
    if ( el.value === "Like" )
        el.value = "Unlike";
    else
        el.value = "Like";
}



</script>
<style>
.body {
  background-color : #FFF8dc

  }

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}





</style>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  <title>{% block title %}Recipe web app{% endblock %}</title>
</head>



<body class="body">

 <div id="page-container">
   <div id="content-wrap">


<nav class="navbar navbar-dark bg-dark">
 <!-- <span class="navbar-toggler-icon"></span>-->
    <span class="navbar-branch navbar-left" style="color:white">Recipe web</span>

    <form class="form-inline">
    <a class="btn btn-outline-info" type="button" href="/post/">SHARE YOUR RECIPE</a>
    <a class="btn btn-outline-warning" type="button"  href="/admin/">LOG AS ADMIN</a>
    <a class="btn btn-outline-danger" type="button"  href="{%url 'logout'%}">LOGOUT</button></a>

  </form>
  <ul class="nav navbar-nav navbar-right">



 <button class="btn btn-outline-success" type="button">{{ user.username }}</button>


    </ul>


</nav>

 <div class="container">

      <div class="row justify-content-center">
        <div class="col-11">
          <h1 class="mt-0"></h1>
          <hr class="mt-0 mb-2">

  <main>
    {% block content %}
    {% endblock %}
  </main>
          </div>
      </div>
    </div>
 </div>



</div>

    <div class="footer">footer<strong>not fixed</strong>.</div>

</div>


</body>
</html>